---
import NavBar from "../../components/NavBar.jsx";
import ArtLayout from "../../layouts/ArtLayout"
import Footer from "../../components/Footer.jsx";
import SEO from "../../components/SEO.astro";
import React from "react";
import artworks from '../../data/artworks.json';

export async function getStaticPaths() {
  return artworks.map((artwork) => ({
    params: { id: artwork.id.toString() },
    props: { artwork },
  }));
}

const { artwork } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <SEO
        title={`${artwork.name} - Nevena Crnogorac`}
        description={`"${artwork.name}" by Nevena Crnogorac. ${artwork.medium}, ${artwork.dimensions}. ${artwork.description}`}
        image={artwork.image}
        type="article"
    />
</head>
<body class="flex-1 flex-row w-full h-screen">
<NavBar client:load/>
<ArtLayout client:load artwork={artwork} />
<Footer />
</body>
</html>
